<md-dialog aria-label="Register and Login">
    <md-dialog-content style="max-width:800px;max-height:810px; min-width:600px">
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Register">
          <md-content class="md-padding">
            <h3 class="md-display-2">Welcome</h3>
            <p>Sign up and play chess!</p>
            <form name="register">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Username</label>
                  <input name="username" required ng-model="userRegister.username">
                  <div ng-messages="register.username.$error">
                    <div ng-message="required">Username is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Password</label>
                  <input name="password" required type="password" ng-model="userRegister.password" minlength="8">
                  <div ng-messages="register.password.$error" multiple>
                    <div ng-message="required">Password is required.</div>
                    <div ng-message="minlength">Your password must be at least 8 characters.</div>
                  </div>
                </md-input-container>
              </div>
              <div ng-controller="LoginRegisterModalController" layout layout-sm="column">
                <input ng-click="register(userRegister)" class="btn btn-default registerButton" type="submit" value="Register">
              </div>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="Login">
          <md-content class="md-padding">
            <h3 class="md-display-2">Welcome back</h3>
            <form name="login">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Username</label>
                  <input name="username" required ng-model="userLogin.username">
                  <div ng-messages="register.username.$error">
                    <div ng-message="required">Username is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Password</label>
                  <input name="password" required type="password" ng-model="userLogin.password" minlength="8">
                  <div ng-messages="register.password.$error" multiple>
                    <div ng-message="required">Password is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div ng-controller="LoginRegisterModalController" layout layout-sm="column">
                <input ng-click="login(userLogin)" class="btn btn-default registerButton" type="submit" value="Login">
              </div>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
</md-dialog>